{% extends "base.html" %}
{% block header %}Tasks{% endblock header %}
{% block content%}
{% if tasks %}
<table>
    <tr>
        <th>Id</th>
        <th>Created by</th>
        <th>Assigned to</th>
        <th>Name</th>
        <th>Estimate</th>
        <th>Status</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="{%url 'app:member_details' task.created_by.id%}">{{task.created_by.user.username}}</a></td>
        <td><a href="{%url 'app:member_details' task.assigned_to.id%}">{{task.assigned_to.user.username}}</a></td>
        <td><a href="{%url 'app:task_details' task.id%}">{{task.name}}</a></td>
        <td>{{task.estimate}}</td>
        <td>{{task.status}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No tasks</h2>
{% endif %}
{% endblock content%}