{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<h1>{{task_member.user_id.first_name}} {{task_member.user_id.last_name}}</h1>
<h2>Tasks</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Estimate</th>
        <th>Status</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="{%url 'app:task_details' task.id%}">{{task.name}}</a></td>
        <td>{{task.estimate}}</td>
        <td>{{task.status}}</td>
    </tr>
    {% endfor %}
</table>
<img src="{% static 'logo.svg' %}">
