{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<h1>{{ task.name }}</h1>
<div>
    <p>Description</p>
    <p>{{task.description | safe}}</p>
</div>
<p>Estimate: {{task.estimate}}</p>
<p>Status: {{task.status}}</p>
<form action="{% url 'app:change_status' task.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Change status</legend>
        <select id="new_status" name="status">
            {% for status in statuses %}
            <option value="{{status}}" name="status">{{status}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Change">
    </fieldset>
</form>
<img src="{% static 'logo.svg' %}">